<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="FirstModule" frontName="first">
            <module name="Training_FirstModule"/>
        </route>
    </router>
</config>